.app{
	display: flex;
	flex-direction: row;
}
.container-app{
	margin-left: 260px;
	min-height: 100vh;
	width: 100%;
}
.conteudo{
	width: calc(100vw-260px);
	min-height: 100vh;
	padding: 1em 2em;
}



